<%= form_for(@restaurant) do |f| %>
  <p><%= f.label :name %></p>
  <p><%= f.text_field :name %><p>
  <p><%= f.label :address %><p>
  <p><%= f.text_field :address %><p>
  <p><%= f.label :category %><p>
  <p><%= f.text_field :category %><p>
  <p><%= f.submit %><p>
<% end %>
<%=link_to "back to restaurants", "/restaurants", class: "btn btn-primary"%>